
header img {
    background-size: contain;
    background-position: center;
    background-color: rgb(152, 198, 219);
    height: 150px;
    width: auto;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(152, 198, 219);
    height: 60px;
}

h2 {
    color: rgb(42, 86, 180);
    font-size: 26px;

}

p {
    color:black;
    font-size: 18px;
    
}

.button--git {
    color: rgb(57, 111, 190);
}

.button--git:hover {
    background-color: rgb(235, 213, 117);
    color: black;
}

.button--up {
    color: rgb(57, 111, 190);
}

.button--up:hover {
    background-color: rgb(235, 213, 117);
    color: black;
}
